ProgrammingSites.txt
*.exe
*.o
.metadata/
.vscode/
DBMS_project/
Game/
Machine_Learning/Deep_Learning/CNN/dataset/
OpenCV/Project/cascades/
Android_Studio/
Bootstrap/bootstrap-4.4.1/
Artificial_Intelligence/
React_JS/helloworld/
JP_Morgan/
Tensorflow/train
Life_Expectancy/