ProgrammingSites.txt
*.exe
*.o
.metadata/
.vscode/
DBMS_project/
Game/
Machine_Learning/Deep_Learning/CNN/dataset/
OpenCV/Project/cascades/
Android_Studio/
Bootstrap/bootstrap-4.4.1/
Artificial_Intelligence/
React_JS/helloworld/
React_JS/new/
React_JS/ShopPit/
JP_Morgan/
Tensorflow/train
Life_Expectancy/
AI_Project/Meta/
AI_Project/Test/
AI_Project/Train/
/Java/WebServlets/Lab11/nbproject/private/
/Java/WebServlets/Lab11/build/
NLP/
PDC/
/Java/WebServlets/Lab12/nbproject/private/
/Java/WebServlets/Lab12/build/
/Java/DataBases/JavaApplication1/nbproject/private/
/Java/DataBases/JavaApplication1/build/
/Java/JavaFX/App1/nbproject/private/
/Java/JavaFX/App1/build/
/Java/JavaFX/App1/dist/
/Java/WebServlets/Practice/nbproject/private/
/Java/WebServlets/Practice/build/
/Java/WebServlets/DB/nbproject/private/
/Java/WebServlets/DB/build/
/Java/JavaFX/Tax/nbproject/private/
/Java/JavaFX/Tax/build/
/Java/JavaFX/Tax/dist/
/Java/WebServlets/Serv_DB/nbproject/private/
/Java/WebServlets/Serv_DB/build/
/React_JS/
/Traffic_Sign_Recognition/
/Fake_News_Detection/
/Product_Price_Prediction/
OneStop/
weather_app/
Exercise_tracker/
Snake_Game/
Bash_Shell/
Memories/
GoProject/pkg
