ProgrammingSites.txt
*.exe
*.o
.metadata/
.vscode/
DBMS_project/
Game/
Machine_Learning/Deep_Learning/CNN/dataset/
OpenCV/Project/cascades/
Android_Studio/
Bootstrap/bootstrap-4.4.1/
Artificial_Intelligence/
React_JS/helloworld/
React_JS/new/
React_JS/ShopPit/
JP_Morgan/
Tensorflow/train
Life_Expectancy/
AI_Project/Meta/
AI_Project/Test/
AI_Project/Train/
/Java/WebServlets/Lab11/nbproject/private/
/Java/WebServlets/Lab11/build/
NLP/
PDC/
