<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <center>
            <h1>Login</h1>
            <br><br><br>
            <form name="passdata" action="." method="POST">
                <b>Username</b>
                <br><br><br>
                <input type="text" name="username" id="username">
                <br><br><br>
                <input type="submit" value="Open Camera">
                <br><br>
                <h1> {{val}}</h1>
            </form>
        </center>
    </body>
</html>