<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form name="passdata" action="." method="POST">
            Age:<input type="text" name="age"><br>
            Sex:<input type="text" name="sex"><br>
            Cp:<input type="text" name="cp"><br>
            Trestbps:<input type="text" name="trestbps"><br>
            Chol:<input type="text" name="chol"><br>
            Fbs:<input type="text" name="fbs"><br>
            Restecg:<input type="text" name="restecg"><br>
            Thalach:<input type="text" name="thalach"><br>
            Exang:<input type="text" name="exang"><br>
            Oldpeak:<input type="text" name="oldpeak"><br>
            Slope:<input type="text" name="slope"><br>
            Ca:<input type="text" name="ca"><br>
            Thal:<input type="text" name="thal"><br>
            <input type="submit" value="submit">
            <h1> {{val}}</h1>
        </form>
    </body>
</html>